.cbanner {
    height:400px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("galery/salju.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    display:inline-block;

}

.innerb{
    position: relative;
    top:60%;
    z-index: 50;
    color:white;
    margin-left: 8%;
    font-family: 'Barlow',verdana,sans-serif;
    font-weight: 100;
    font-size: 25px;
    width:30%;
    border-bottom: 2px solid white;
}

.aboutcontent{
    background-color: ghostwhite;
    padding: 2% 5%;
    padding-right: 10%;
    float:left;
    display:none;
    width:70%;
    font-family: 'Barlow', sans-serif;
}
.sidebar{
    padding: 2% 2%;
    float:left;
    width:20%;
    border-left: 1px solid lightgray;
    display:inline-block;
    height:720px;
}
h3{
    color: #1f9bf9;
    font-family: 'Barlow',sans-serif;
    font-weight: 700;

}


a#nav{
    display:block;
    width: 100%;
    background-color: #00bfe6;
    padding: 12px 20px;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid #ccc;
    font-family: 'Barlow', sans-serif;
    transition: 0.2s;
    cursor: pointer;


}
a#nav:hover{
    background-color: #33ddff;
    transition:0.2s;


}
a#nav:active{
    background-color: #0095b3;
}
a#navc{
    display:block;
    width: 100%;
    background-color: #888;
    padding: 12px 20px;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid #ccc;
    font-family: 'Barlow', sans-serif;
    transition: 0.2s;
    cursor: pointer;
}
a#navc:hover{
    background-color: #999;
    transition: 0.2s;
}
a#navc:active{
    background-color: #666;
}

#compare{
    border-collapse: collapse;
    width:80%;

}
#compare th, #compare td{
    border:1px solid #ddd;
    padding:8px;
}
#compare th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #00aacc;
    color: white;
}
#compare tr:nth-child(even){background-color: #f2f2f2;}

#compare tr:hover {background-color: #ddd;}

#partners{
    list-style-type: none;
}
#partners > li > a >img{
    height:40px;
}
#partners >li {
    padding:20px;
    margin-left: -60px;

}
