*{
    box-sizing:border-box;
}

body{
    background-color: ghostwhite;
    overflow-x:hidden;
    margin-bottom: -10px;
}

a{
    text-decoration: none;
    color : ghostwhite;
}
div.page{
    margin-top:-60px;
    margin-left:-10px;
    margin-right: -10px;


}

div.banner{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("galery/bg01.jpeg");
    background-size: 100%;
    height:650px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
div.banner > .innerbanner{
    text-align: center;
    position: relative;
    top:40%;
    vertical-align: middle;
}

div.banner > .innerbanner > h1{
    font-size: 60px;
    font-family: 'Barlow',sans-serif;
    font-weight: 200;
    color: white;
}
div.banner > .innerbanner > p{
    color:white;
    font-family: 'Barlow',sans-serif;
    font-weight: 100;
    text-align: center;

}
div.banner > .innerbanner > p::after{

    content: '';
    position: absolute;
    margin: auto;
    margin-top: -30px;
    right: 0;
    bottom: 1;
    left: 0;
    width: 25%;
    height: 1px;
    background-color: white;

}
div.navbar{
    position:fixed;
    width:100%;
    background-color: rgba(20,20,20,0.9);
    top:0;
    left:0;
    z-index: 100;
    overflow: hidden;
}
div.navbar > a {
    float:left;
    font-family: 'Barlow',"Verdana",sans-serif;
    margin: 0;
    display: block;
    color:white;
    padding:20px 70px;
    text-align:center;
    transition: 0.3s;
}
div.navbar > a:hover{
    background-color: #37a6fb;
    transition: 0.3s;
}
div.navbar > .selected{
    background-color: #111;
    opacity:0.8;
}
div.content1{
    padding:20px;
    text-align: center;
}
div.content1h{
    text-align: center;
}
.content1L{
    padding:20px;
    text-align: left;
}
table.center {
    margin-left:auto; 
    margin-right:auto;
}
h2 {
    color: #1f9bf9;
    font-family: 'Barlow',sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 8px rgba(150, 150, 150, 0.8);

}
div.inner1 {
    padding:10px;
    color:#262626;
    text-align: center;
    font-family: 'Barlow',sans-serif;
    font-weight:400;
    font-size: 20px;
    display:inline-block;

}
div.inner1 > #c11 {
    width:25%;
    float:left;
    margin-left: 7.5%;
    padding:1%;


}
div.inner1 > #c12 {
    width:25%;
    margin-left:5%;
    float:left;
    padding:1%;
}
div.inner1 > #c13 {
    width:25%;
    margin-left: 5%;
    margin-right: 7.5%;
    float: left;
    padding:1%;

}
div.content1b{
    padding: 0 10%;
    padding-bottom: 5%;

}
div.inner1b{
    padding: 0 5%;
    width: 100%;
    display:inline-block;
}
div.inner1b > #imgbox{
    float:left;
    width: 20%;

}
div#text1b{
    float:left;
    margin-left: 5%;
    width:35%;
    font-family: 'Barlow',sans-serif;
}
div#text1b > ul{
    line-height: 45px;
    list-style-image: url("galery/smile.png");
}

.contentdiv{
    padding:20px;
    text-align: center;
    display:inline-block;
}

div.contentvid{
    padding:3% 5%;
    background-color: #444;
}
div.innervid{
    padding: 0 5%;
    width: 100%;
    display:inline-block;

}
div.video{
    float:left;
}
div.viddesc{
    width:54%;
    padding:2% 5%;
    float:left;
    font-family: 'Barlow',sans-serif;
    color:ghostwhite;
}


div.content2{
    text-align:center;
    padding:25px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("../images/pklkz.jpg");
    background-attachment: fixed;
    background-size: 120%;
    background-repeat: no-repeat;
}


div.content2 > .inner2{
    padding:10px;
    color:#262626;
    text-align: center;
    font-family: 'Barlow',sans-serif;
    font-weight:400;
    font-size: 20px;
}

div.content2 > .inner2 > p{
    color:white;
    font-weight: 100;
}
div.content2 > .footnote{
    color:white;
    font-family: 'Barlow',sans-serif;
    font-weight: 100;
    font-size: 10px;
}
div.content2 > #regButt {
    border: none;
    font-size: 25px;
    font-family: 'Barlow',sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 25px;
    background-color: #00bfe6;
    color:white;
    transition: 0.4s;
}
div.content2 > #regButt:hover {
    color:white;
    background-color: #99eeff;
    transition:0.3s;
}

div.content3{
    padding:3% 10%;

}
.inner3{
    color:#262626;
    font-family: 'Barlow',sans-serif;
    font-weight:400;
    font-size: 20px;
    display:inline-block;
    width:100%;
}
div.content3 > .inner3>.suppbox{
    width:60%;
    float:left;

}
div.content3 > .inner3> .suppbox > form > p{
    margin-bottom: 0;
    font-family: 'Barlow',sans-serif;
}

div.content3> .inner3> .suppbox > form > input{
    padding:10px 7px;
    width: 55%;
    border: 1px solid #ccc;
    border-radius: 4px;
    display:inline-block;
    font-family: sans-serif;
    font-size: 15px;
}
.suppbox > form > textarea{
    width:75%;
}
.suppbox > form > button{
    border: none;
    font-size: 25px;
    font-family: 'Barlow',sans-serif;
    font-weight: 300;
    text-decoration: none;
    padding: 5px 15px;
    background-color: #eeeeee;
    color:black;
    transition:0.4s ease;
}
.suppbox > form > button:hover{
    color:white;
    background-color: #00bfe6;
    transition:0.4s;
}

.suppdes{
    float:left;
    text-align: center;
    width:38%;
}
.footer{
    display:inline-block;
    width: 100%;
    font-family: 'Barlow',sans-serif;
    padding: 10px 50px;
    background-color: #353535;
    color: ghostwhite;
    font-weight: 100;
}
.footer > .ftext{
    float:left;
    padding-left: 60px;
    padding-top: 10px ;
    width:50%;
    height: auto;
}
.footer > .f1{
    position: relative;
    top:60px;
    left: 20px;
    text-align: center;
    width:15%;
    margin-left: 10px;
    float: left;

}
.footer2 {
    background-color: #151515;
    width:100%;
    text-align: center;
    color:white;
    font-family: 'Barlow',sans-serif;
    font-weight: 100;
    font-size: 15px;
    padding: 20px 0;
    margin-top: -6px;
}
.FiturDropDown {
    background-color: #aea8a5;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
}
.FiturDropDown:hover {
    background-color: #736e69;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: #809ac6;
    min-width: 200px;
}
.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}
.a:hover {
    background-color: #20437e;
}